.container{
    display: flex;
    justify-content:center;
    align-items:center;
    box-shadow: 10px 10px 15px rgba(164, 77, 193, 0.5);
    height: 100vh;
}

#cal-body {
  
    width: 35rem;
    height: auto;
    border-radius: 0.1rem;
    background: #312b2b95;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    padding: 60px;
    scale: 0.8;
  }
  
  .input input {
    height: 8rem;
    width: 85%;
    border-radius: 10px;
    background: #45ee80;
    box-shadow: inset -5px -5px 9px rgba(159, 56, 56, 0.45), inset 5px 5px 9px rgba(13, 60, 142, 0.3);
    border: 0;
    color: rgb(22, 19, 19);
    font-size: 3rem;
    padding: 0 30px;
  }
  
  .input input:focus {
    outline: none;
    background: #dde1e7;
    box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .buttons button {
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    border: 5;
    font-size: 2.5rem;
    border-radius: 10px;
    background: #2b333e8d;
    box-shadow: -5px -5px 9px rgba(26, 20, 20, 0.45), 5px 5px 9px rgba(38, 72, 132, 0.3);
    color: rgb(255, 241, 241);
  }
  
  .buttons button:focus {
    background: #373737;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  }
  
  .buttons {
    padding-top: 1.875rem;
    display: flex;
    justify-content: space-between;
  }

  #operations {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    margin-left: 7rem;
    margin-bottom: 20%;
    color: rgb(164, 77, 193);
    font-size: 2rem;
}

  .estiloImpresion{
    display: flex;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(35, 35, 35);
  }

  .tituloToken {
    display: flex;
    color: rgb(164, 77, 193);
    font-size: 3rem;
    margin-bottom: 22rem;
    
}

#Token{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: 20rem;
  margin-bottom: 20%;
}


 
  
  